<li id="comment-<%= comment.id %>">
  <% if(locals.user && (locals.user.id == comment.user.id)){ %>
  <small
    ><a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"
      >X</a
    ></small
  >
  <% } %> <%= comment.content %>
  <br />
  <small><%= comment.user.name %></small>

  <br />

  <!-- <small>
    <% if(locals.user){ %>
      <a href="/likes/toggle/?id=<%= comment._id %>&type=Comment" data-likes="<%= comment.likes.length %>" class="toggle-like-button">
        <%= comment.likes.length  %>Likes
      </a>
    <%}else{%>
      <%= comment.likes.length %>
    <%}%>
  </small> -->


</li>
