<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/chat_box.css" />

<div class="home-container">
  <section class="feed-posts">
    <% if(locals.user){ %>
    <form action="/posts/create" method="post" id="new-post-form">
      <textarea
        id="text-area"
        name="content"
        cols="30"
        rows="3"
        placeholder="Write your post..."
        required
      ></textarea>
      <button type="submit">Add Post</button>
    </form>
    <% } %>

    <div class="post-lists-container">
      <ul id="posts-list">
        <% for(post of posts){ %> <%- include('_post') -%> <%}%>
      </ul>
    </div>
  </section>

  <section class="user-friends">
    <div class="friends box">
      <h3>Friends</h3>
      <% if(locals.user){ %>
      <ul>
        <% for(f of all_friends){ %>
        <li>
          <p>
            <a href="/users/profile/<%= f.id %>"><%= f.name %></a>
          </p>
        </li>
        <%}%>
      </ul>
      <%}%>
    </div>
    <div class="all-users box">
      <h3>Users</h3>
      <ul>
        <% for(u of all_users){ %>
        <li>
          <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
          </p>
        </li>
        <%}%>
      </ul>
    </div>
  </section>
  <%- include('_chat_box') -%>
</div>
<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="/js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
  integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
<script>
  new chatEngine("user-chat-box", "<%= locals.user.email %>");
</script>
<%}%>
