<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
      integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
      integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <%- style %>
    <title><%= title%></title>
  </head>
  <body>
    <%- include('__header') %>
    <main class="layout-main"><%- body %></main>
    <%- include('__footer') %> <%- script %> <%if(flash.success &&
    flash.success.length > 0 ) {%>
    <script>
      new Noty({
        theme: "relax",
        text: "<%= flash.success %>",
        type: "success",
        layout: "topRight",
        timeout: 1500,
      }).show();
    </script>
    <%}%> <%if(flash.error && flash.error.length > 0 ) {%>
    <script>
      new Noty({
        theme: "relax",
        text: "<%= flash.error %>",
        type: "error",
        layout: "topRight",
        timeout: 1500,
      }).show();
    </script>
    <%}%>
  </body>
</html>
