<link rel="stylesheet" href="/css/user_profile.css" />
<div class="profile-container">
  <h1>Codeial | <%= title %> Page</h1>

  <h2 id="user-name">Heyy!!! <%= user_profile.name %></h2>
  <p id="user-email">Your email is : <%= user_profile.email %></p>

  <% if(user.id == user_profile.id){ %>

  <h2>Profile_Updation_Form</h2>
  <form
    id="update-form"
    action="/users/update/<%= user.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="name"
      placeholder="Enter your name..."
      value="<%= user_profile.name %>"
      required
    />
    <input
      type="text"
      name="email"
      placeholder="Enter your email..."
      value="<%= user_profile.email %>"
      required
    />

    <input type="file" name="avatar" placeholder="Upload your avatar..." />

    <button type="submit">Update Profile</button>
  </form>
  <%}%>
</div>

<script src="/js/user_profile.js"></script>
